

.chakra-content {
    width: 100% !important;
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 50px;*/
    margin: 0;
    padding: 0;
    /*background-color: #f9f4ed;*/
    /*background-image: url('image/backgrounds/backgrounds.jpg');*/
    height: 100vh;
}

.chakra-content .content {
    display: flex;
    max-width: 1200px;
    align-items: center;
}

    .chakra-content .content .image {
        flex: 1;
        display: flex;
        justify-content: center;
    }

        .chakra-content .content .image img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
        }

    .chakra-content .content .text-content {
        flex: 2;
        padding: 20px;
        text-align: left;
    }

        .chakra-content .content .text-content h1 {
            font-size: 36px;
            font-weight: 700;
            font-family: 'Raleway';
            margin-bottom: 20px;
            color: #1F4568;
            font-style: italic;
        }

        .chakra-content .content .text-content p {
            font-size: 16px;
            line-height: 1.8;
            color: #444;
            margin-bottom: 20px;
            color: #1F4568;
            font-family: 'Raleway';
        }

        .chakra-content .content .text-content .button-container {
            margin-top: 20px;
        }

            .chakra-content .content .text-content .button-container a {
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                text-decoration: none;
                background-color: #a88956;
                border-radius: 5px;
                transition: background-color 0.3s;
            }

                .chakra-content .content .text-content .button-container a:hover {
                    background-color: #8f784c;
                }
@media (max-width: 500px) {
    .chakra-content {
        height: 100vh;
        display: block;
    }

    .chakra-content .content {
        display: block;
        position: relative;
        top: 10%;
    }

    .chakra-content .content .image img {
        justify-content: center;
        height: 100%;
        width: 50%;
        position: relative;
        bottom: 58vh;
    }

    .chakra-content .content .text-content p {
        position: relative;
        top: 20vh;
        font-size: 14px;
    }

    .chakra-content .content .text-content .button-container {
        position: relative;
        top: 200px;
        text-align: center;
    }

    .chakra-content .content .text-content h1 {
        top: 19vh;
        position: relative;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .chakra-content {
        height: 100vh;
        display: block;
    }

    .chakra-content  .content {
        display: block;
        position: relative;
        top: 10%;
       
    }

    .chakra-content .content .image img {
       
        justify-content: center;
        height: 100%;
        width: 50%;
        position: relative;
        bottom: 63vh;
    }

        .chakra-content .content .text-content p {
            position: relative;
            top: 13vh;
            font-size: 14px;
        }

        .chakra-content .content .text-content .button-container {
            position: relative;
            top: 120px;
            text-align: center;
            justify-content: center;
        }

        .chakra-content .content  .text-content h1 {
            top: 14vh;
            position: relative;
            text-align:center;
        }
}

@media (max-width: 300px) {
    .chakra-content .content .text-content h1 {
        top: 14vh;
        position: relative;
        text-align: center;
        font-size: 20px;
    }

    .chakra-content .content .text-content p {
        top: 14vh;
        position: relative;
        font-size: 10px;
        text-align: center;
    }

    .chakra-content .content .image img {
  
        justify-content: center;
        height: 100%;
        width: 50%;
        position: relative;
        bottom: 50vh;
    }

    .chakra-content .content .text-content {
        text-align: center;
    }
}