

.lovereborn-content {
    width: 100% !important;
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 50px;*/
    margin: 0;
    padding: 0;
    background-color: #f9f4ed;
    background-image: url('image/backgrounds/backgrounds.jpg');
    height: 100vh;
}

    .lovereborn-content .content {
        display: flex;
        max-width: 1200px;
        align-items: center;
    }

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.lovereborn-content .content .image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.lovereborn-content .content .text-content {
    flex: 2;
    padding: 20px;
    text-align: right;
}

   .lovereborn-content .content .text-content h1 {
        font-size: 36px;
        font-weight: 700;
        font-family: 'Raleway';
        margin-bottom: 20px;
        color: #1F4568;
        font-style: italic;
    }

    .lovereborn-content .content .text-content p {
        font-size: 16px;
        line-height: 1.8;
        color: #444;
        margin-bottom: 20px;
        color: #1F4568;
        font-family: 'Raleway';
    }

    .lovereborn-content .content .text-content .button-container {
        margin-top: 20px;
    }

        .lovereborn-content .content .text-content .button-container a {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            background-color: #a88956;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .lovereborn-content .content .text-content .button-container a:hover {
                background-color: #8f784c;
            }

@media (max-width: 400px) {
    .lovereborn-content {
        height: 100vh;
        display: inline-block;
    }

  .lovereborn-content  .content {
        display: block;
    }

    .lovereborn-content .content .image img {
        border: 1px solid red;
        justify-content: left;
        height: 100%;
        width: 50%;
    }

    .lovereborn-content .content .text-content p {
        font-size: 14px;
    }
}